.hero-holder{
    display: inline-block;
    vertical-align: top;
    margin-top: 10%;
    margin-left: 10px;
    padding: 20px;
    background: #780206;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 30px;
  position: relative;
}
.id-span{
    color: white;
}

label{
  color: white;
}
.hero-holder > .hero-namer{
  color: white;
  margin: unset;
  padding: unset;
}

#user-input{
  border-radius: 5px;
  border: none;
  padding: 3px;
  padding-left: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 19px;
  outline: none;
}
.backb{
    background: #ADD100;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7B920A, #ADD100);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7B920A, #ADD100); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: none;
border-radius: 5px;
font-family: sans-serif;
font-size: 20px;
outline: none;
}
.backb:hover{
    background: #3CA55C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.saveb{
    background: #ffb347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
border-radius: 5px;
font-family: sans-serif;
font-size: 20px;
outline: none;
position: absolute;
right:0;
margin-right: 16px;
margin-top: 10px;
}
.saveb:hover{
    background: #FF4E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}