<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Heroes app!
  </h1>
</div>
<nav>
  <div #dash routerLink="/dashboard" [ngClass]="{'nav-items':true,'unselected':true,'selected':selector1}" (click)="changer1()">
    <img class="superman-logo" src="http://www.myiconfinder.com/uploads/iconsets/256-256-3f869295130b9549514b440486bfe661-dashboard.png">
    <div class="dash-text">Dashboard</div>
  </div>
  <div routerLink="/heroes" [ngClass]="{'nav-items':true,'unselected':true,'selected':selector2}" (click)="changer2()">
    <img class="ca-logo" src="https://www.shareicon.net/download/2015/09/24/106443_super.svg">
    <div class="hero-text">Heroes</div>
    </div>
  </nav>
<router-outlet></router-outlet>
<app-messages class="app-msg"></app-messages>

